<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="color-scheme" content="light dark">
    <title>Admin</title>
</head>
<body>
<table style="width: 100%; font-family: system-ui">
    <thead>
    <tr style="text-align: left">
        <th>lineCode</th>
        <th>tel</th>
        <th>childFullName</th>
        <th>text</th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
            <td>{{ row.lineCode }}</td>
            <td>{{ row.tel }}</td>
            <td>{{ row.childFullName }}</td>
            <td>{{ row.text }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>