<html lang="pl">
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
{% if messages %}
    <table>
    <tr>
        <th>Dziecko</th>
        <th>Treść</th>
    </tr>
    {% for msg in messages %}
    <tr>
        <td><a href="tel:{{ msg.tel }}">{{ msg.childClassName }} {{ msg.childFullName }}</a></td>
        <td>{{ msg.text }}</td>
    </tr>
    {% endfor %}
    </table>
    {% else %}
    <b>Brak wiadomości na dzisiaj.</b><br>
    {% endif %}
</html>